p{
    color:black;
    background-color: yellow;
}
.p2{
    color: white; background-color:black;
}
.align{
    text-align: center;
  }
ul.demo{
    list-style:none;
    
    padding: 0px;
    color: red;
    
  }
.list{
    margin:2px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: yellow;
    background-position: right;
    background-image: url(star.png);
    background-repeat: no-repeat;
    width: 50%;
}
    .list:hover {
        background-color: white;
        opacity: 0.6;
        cursor: pointer;   
        transform: translateX(20px);
  }
  .container{
    display: -moz-inline-box;
  }
   .flex-container {
    display: flex;
    flex-wrap: nowrap;
   }
   .flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container-vertically{
    text-align:center;
    height: 300px;
    font-size: 30px;
    display:flex;
  justify-content: space-around;
  
  align-items: center;  
  }
  .absolute{
    position: absolute;
    right: 5px;    /* 5px relative to the most-right of parent */
  }